@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

/* Ensure your animation keyframes are defined inside a @layer directive */
@layer utilities {
    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }

        25% {
            transform: translate(30px, -50px) scale(1.1);
        }

        50% {
            transform: translate(50px, 20px) scale(0.9);
        }

        75% {
            transform: translate(0px, -30px) scale(1.2);
        }

        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }

    /* Define the animation utility */
    .animate-blob {
        animation: blob 7s infinite ease-in-out;
    }

    .animation-delay-1000 {
        animation-delay: 1s;
    }

    .animation-delay-3000 {
        animation-delay: 3s;
    }
}